* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kia Signature OTF', sans-serif;
}


body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}


header {
    background-color: #444;
    padding: 1rem 2rem;
    color: #fff;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo img {
    width: 150px;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}


.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}


.top-right-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}


.slogan {
    padding: 2rem;
    background-color: #e0e0e0;
    text-align: center;
}


.slogan h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}


.slogan h2 {
    font-size: 1.5rem;
    color: #555;
}


.banner {
    background-color: #fff;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner-content {
    display: flex;
    align-items: center;
}


.banner .text {
    max-width: 500px;
}


.banner .text h1 {
    font-size: 2.5rem;
    color: #444;
}


.banner .text p {
    font-size: 1.2rem;
    color: #777;
}


.banner .image img {
    max-width: 400px;
    margin-left: 2rem;
}


.chatbox {
    background-color: #333;
    color: #fff;
    padding: 1.5rem;
    text-align: center;
    margin-top: 2rem;
}


.chatbox p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}


.chatbox .chat-button,
.chatbox .no-chat-button {
    background-color: #5d7d2b;
    border: none;
    padding: 0.5rem 1rem;
    color: #fff;
    cursor: pointer;
    margin: 0.5rem;
    transition: background-color 0.3s ease;
}


.chatbox .chat-button:hover,
.chatbox .no-chat-button:hover {
    background-color: #8BB532;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
}


footer a {
    color: #8BB532;
    text-decoration: none;
}


footer a:hover {
    text-decoration: underline;
}


/* Estilo de los enlaces del menú de navegación */
.nav-links li a {
    color: #ffffff; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    font-weight: bold; /* Texto en negrita */
    font-size: 2.5rem; /* Tamaño del texto más grande */
    transition: color 0.3s ease; /* Transición suave para el cambio de color */
}


.nav-links li a:hover {
    color: #f3c200; /* Cambia el color cuando el mouse está sobre el enlace */
}
