* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kia Signature OTF', sans-serif;
}


body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}


header {
    background-color: #000; 
    padding: 0rem 2rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.logo img {
    width: 150px;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}


.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.top-right-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background-color: #e74c3c;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    align-items: center;
}

.top-right-links a:hover {
    background-color: #c0392b;
}


.slogan {
    padding: 2rem;
    background-color: #e0e0e0;
    text-align: center;
}


.slogan h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}


.slogan h2 {
    font-size: 1.5rem;
    color: #555;
}


.banner {
    background-color: #fff;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner-content {
    display: flex;
    align-items: center;
}


.banner .text {
    max-width: 500px;
}


.banner .text h1 {
    font-size: 2.5rem;
    color: #444;
}


.banner .text ul {
    font-size: 1.2rem;
    color: #777;
}


.banner .image img {
    max-width: 400px;
    margin-left: 2rem;
}

.banner2 {
    background-color: #fff;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner2-content {
    display: flex;
    align-items: center;
}


.banner2 .text {
    max-width: 500px;
}


.banner2 .text h1 {
    font-size: 2.5rem;
    color: #444;
}


.banner2 .text ul {
    font-size: 1.2rem;
    color: #777;
}


.banner2 .image img {
    max-width: 400px;
    margin-left: 2rem;
}

.banner3 {
    background-color: #fff;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner3-content {
    display: flex;
    align-items: center;
}


.banner3 .text {
    max-width: 500px;
}


.banner3 .text h1 {
    font-size: 2.5rem;
    color: #444;
}


.banner3 .text ul {
    font-size: 1.2rem;
    color: #777;
}


.banner3 .image img {
    max-width: 400px;
    margin-left: 7rem;
}

.chatbox {
    background-color: #05141f;
    color: #fff;
    text-align: center;
    padding: 20px 20px;
}

.chatbox p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.chat-button {
    background-color: #e74c3c;
    color: #fff;
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.chat-button:hover {
    background-color: #c0392b;
}


footer {
    background-color: #05141f;
    color: #fff;
    padding: 0.5rem;
    text-align: center;
    margin-top: 0;
}


footer a {
    color: #8BB532;
    text-decoration: none;
}


footer a:hover {
    text-decoration: underline;
}


/* Estilo de los enlaces del menú de navegación */
.nav-links li a {
    color: #ffffff; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    font-weight: bold; /* Texto en negrita */
    font-size: 2rem; /* Tamaño del texto más grande */
    transition: color 0.3s ease; /* Transición suave para el cambio de color */
}


.nav-links li a:hover {
    color: #18bc9c; /* Cambia el color cuando el mouse está sobre el enlace */
}
